body{
	background:#2c2c2c;
	color:#fefefe;
	font-family: 'メイリオ', Meiryo,'Meiryo UI','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}
#menu{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:30px;
	background:#4c4c4c;
}
#code{
	position:absolute;
	top:30px;
	left:0px;
	width:49.5%;
	height:600px;
	border:#fefefe 1px solid;
	color:#fefefe;
	background:#2c2c2c;
	font-family: 'メイリオ', Meiryo,'Meiryo UI','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	font-size:10pt;
}
#view{
	position:absolute;
	top:30px;
	right:0px;
	width:49.5%;
	height:600px;
	border:#fefefe 1px solid;
}
.menulink{
	color:#fefefe;
	background:#6c6c6c;
	text-decoration: none;
	font-size:10pt;
}
.menulink:hover{
	color:#4c4c4c;
	background:#fefefe;
}
.submenulink{
	color:#fefefe;
	background:#6c6c6c;
	text-decoration: none;
	font-size:10pt;
	color:#fefefe;
	text-decoration:none;
	display:block;
	width: 100%;
}
.submenulink:hover{
	color:#fefefe;
	background:#3563ad;
}
#name{
	position:fixed;
	top:2px;
	right:2px;
}
#submenu{
	position:absolute;
	z-index: 2;
	top:31px;
	left:0px;
	width:300px;
	height:150px;
	overflow:auto;
	background:#4c4c4c;
	border:#fefefe 1px solid;
	color:#000;
	display: none;
}
input{
	background:#4c4c4c;
	color:#fefefe;
	border:#fefefe 1px solid;
}
input:hover,input:focus{
	background:#2c2c2c;
	border:#1064ed 1px solid;
}